body {
    background-image: url(gamingwebpage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: saturation;
  }
  
  button {
      padding: 10px;
      margin: 24px;
      cursor: pointer;
      font-size: 24px;
      color: rgb(201, 183, 183);
    }
    

  input {
    background-color: #f7f7f7;
    }
  
  .wrapper {
    padding-top: 20px;
  }
  
  .container {
      display: block;
      margin: 60px auto;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(237, 87, 87);
      box-shadow: 0 4px 8px 0 rgb(241, 237, 237);
      transition: 0.3s;
      width: 40vw;
      
    }
  
  .card-contents {
      padding: 5px 5px 30px 5px;
    }
  
  #name,
  #email,
  #submit {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 20px;
      box-sizing: border-box;
      font-size: 18px;
      font-family: fantasy ;
    }
  
  #response {
        padding-bottom: 70px;
    }
  
