
body {
    background-image: url(gamingwebpage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(245, 80, 80);
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgb(241, 237, 237);
    transition: 0.3s;
    white-space: nowrap;
    text-decoration: none;
}
#apiResponse { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 10px; }


button, .custom-btn {
    padding: 8px; 
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px; 
    color: rgb(226, 12, 12);
    background-image: -moz-linear-gradient();
    border: 1px solid rgba(226, 12, 12, 0.5);
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}
button:hover, .custom-btn:hover {
    background-color: rgba(226, 12, 12, 0.1);
}

.deal-button {
    padding: 8px; 
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px; 
    color: rgb(226, 12, 12);
    background-image: -moz-linear-gradient();
    border: 1px solid rgba(226, 12, 12, 0.5);
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}
.deal-button:hover {
    background-color: rgba(226, 12, 12, 0.1);
}

label {
    font-size: 18px;
    color: rgb(226, 12, 12);
}


.topNav {
    background-color: #f8f9fa;
    padding: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}


.d-flex {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0;
}


.search-bar-container {
    display: flex;
    align-items: center;
}

input.form-control {
    width: 200px; 
    margin-right: 5px;  
}

@media (max-width: 768px) {
    
    .topNav {
        flex-direction: column;
        text-align: center;
    }

    .search-bar-container {
        margin-top: 10px;
    }

    #title {
        text-align: center;
        margin-bottom: 15px;
    }
 }

 #apiResponse {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
}

.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #080808;
    padding: 10px;
    border-radius: 25px;
    /* background-color: rgb(37, 184, 189); */
    background: radial-gradient(circle at center, #e0e7ef 0%, #7fa7d6 40%, #4b6584 70%, #2c3e50 100%);
}
.game-image{
    width: 300px;
    border-radius: 25px;
    border: 1px solid #080808;
}
    
.sale-price{
    font-size: 28px;
}

.normal-price {
    font-size: 24px;
    color: dark red;
    text-decoration: line-through;
}
 
.game-title{
    font-size: 28px;
}